page{
	background-color: #FFFFFF;
	box-sizing: border-box;
}


textarea
view
text
input
scroll-view
{
	box-sizing: border-box;
}

.uni-input-placeholder{
	color: #CDCCCE;
	width: 100%;
}


.hl_line{
	width: 100%;
	height: 1px;
	background-color: #f5f5f5;
}

.hl_dotted_line{
	margin: 30rpx 0rpx;
	height: 0px;
	border: 1px dashed #ffb8b8;
	border-style: dashed none none none;	
}

.hl_flex{
	display: flex;
	align-items: center;
}

.hl_horizontal{
	display: flex;
	align-items: center;
	justify-content: center;
}

.hl_horizontal_between{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hl_boxText{
	-webkit-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	overflow: hidden;
}

.hl_space{
	width: 100%;
	height: 8px;
	background-color: #F8F8F8;
}

.hl_navbar{
	height: calc(env(safe-area-inset-top) + 49px);
	width: 100%;
	position: fixed;
	top: 0;
	display: flex;
	z-index: 99999;
}

.hl_arrow{
	width: 12rpx;
	height: 20rpx;
	flex-shrink: 0;
}

.hl_bottom{
	position: fixed;
	left: 30rpx;
	bottom: 30rpx;
	
	/* #ifdef MP-WEIXIN */
	bottom: calc(env(safe-area-inset-bottom) + 20px);
	/* #endif */
	
	/* #ifdef H5 */
	bottom: 30rpx;
	/* #endif */
	right: 30rpx;
	font-size: 32rpx;
	display: flex;
	justify-content: center;
	align-items: center;
	
	color: #FFFFFF;
	
	height: 44px;
	background: linear-gradient(207deg,#fb8da0 0%, #ffb8b8 100%);
	border-radius: 22px;
}

.hl_bottom_disabled{
	background: #e0e0e0;
}

.hl_empty{
	width: 320rpx;
	height: 334rpx;
	flex-shrink: 0;
}

.hl_shadow{
	box-shadow: 0px 3px 7px 0px rgba(205,204,206,0.3); 
}

.hl_docs_back{
	padding: 30rpx;
	background: linear-gradient(90deg,#f1fcfe 0%, #ffedf3 100%);
	min-height: 100vh;
}

.hl_form_back{
	box-shadow: 0px 3px 7px 0px rgba(205,204,206,0.3); 
	margin: 30rpx 0rpx;
	padding: 40rpx;
	background: #FFFFFF;
	border-radius: 40px 10px 10px 10px;
	box-shadow: 0px 3px 7px 0px $uni-shadow-color;
	
	/* #ifdef H5 */
	margin-bottom: 60px;
	/* #endif */
	
	/* #ifndef H5 */
	margin-bottom: calc(44px + constant(safe-area-inset-bottom) + 20px);
	margin-bottom: calc(44px + env(safe-area-inset-bottom) + 20px);
	/* #endif */
	
}

.hl_form_input{
	padding: 16rpx 30rpx;
	background: #f5f5f5;
	border-radius: 36rpx;
	color: $uni-text-color-black;
	font-size: 28rpx;	
	min-height: 35rpx;
}

.hl_form_btn{
	background-color: #FFFFFF;
	color:#9B9B9B;
	font-size: 30rpx;
	padding: 12rpx 24rpx;
	border-radius: 40rpx;
	border: 1px solid #9b9b9b;
	min-width: 45px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hl_form_btn_select{
	color: #FFFFFF;
	background: linear-gradient(207deg,#fb8da0 0%, #ffb8b8 100%);
	border: 1px solid #ffffff;
}

.hl_form_btn_disabled{
	color: #e0e0e0;
	border: 1px solid #e0e0e0;
}